* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
}

body {
  width: 1440px;
  margin: 0 auto;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}

.nav_link {
  line-height: 16px;
  color: #676a6c;
}

.dash {
  position: relative;
  font-weight: 600;
  color: var(--color-heading);
}
.dash::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 12px;
  height: 2px;
  background: #ff7b29;
  border-radius: 99px;
}

.btn {
  width: 131px;
  height: 48px;
  top: 32px;
  left: 1174px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  background: #31c3e0;
  color: white;
  border: none;
}

h1 {
  font-size: 62px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 120px;
}

.welcome img {
  position: relative;
}
